dateparser==1.2.0
Js2Py==0.74
jschema-to-python==1.2.3
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.11.1
numpy==1.26.2
pandas==2.1.3
ratelimit==2.2.1
sqlparse==0.4.4
sseclient==0.0.27
fastapi
uvicorn
requests
typing
datetime
sktime
prophet